<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just for Saige</title>
  </head>
  <body>
    <h1><%= @author.name %></h1>
    <form action="/authors/<%= @author.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="<%= "delete this author".titlecase %>">
    </form>
    <ul>
      <% @author.books.each do |book| %>
        <li>
          <a href="/books/<%= book.id %>">
            <%= book.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
